<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>AI Speech Cleaner</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <div class="header-content">
            <a href="{{ url_for('index') }}" class="site-title">AI Speech Cleaner</a>
            <nav class="main-nav">
                <a href="#" class="nav-link">page 1</a>
                <span class="nav-sep"></span>
                <a href="#" class="nav-link">page 2</a>
                <span class="nav-sep"></span>
                <a href="#" class="nav-link">page 3</a>
            </nav>
        </div>
    </header>
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="audio/*,video/*" required>
            <label for="out_format">Select the format of cencored file: </label>
            <select name="out_format" id="out_format">
                <option value="wav">WAV</option>
                <option value="mp3">MP3</option>
                <option value="ogg">OGG</option>
                <option value="flac">FLAC</option>
            </select>
            <button type="submit">Find bad words</button>
        </form>
        {% if transcript %}
            <h2>Result:</h2>
            <ul>
            {% for mark in marks %}
                <li>{{ mark.text }} ({{ "%.2f"|format(mark.start) }} - {{ "%.2f"|format(mark.end) }} sec)</li>
            {% endfor %}
            </ul>
            {% if censored_path %}
                <a href="{{ url_for('download_file', filename=censored_filename) }}" download>Download new file</a>
            {% endif %}
        {% endif %}

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </div>
    <footer>
        <div class="footer-content">
            <p>© 2025 AI Speech Cleaner. All rights reserved</p>
        </div>
    </footer>
</body>
</html>